@media print{ 
  #container{
    color: black;
    background: white; 
  }
  a::after{
    content: " (" attr(href) ") ";
  }

  img{
    display: none;
  }
  #nav{
    display:none;
  }
  #sidebar{
    display:none;
  }
  #footer{
    display:none;
  }

  body {
  font-size:1.25em;
  }
}